<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 
    <main class="container" style="height: 100vh;">
        <h2 class="text-center"><%= auto.marca %> <%= auto.modelo %></h2>
        <p>Marca: <%= auto.marca %></p>
        <p>Modelo: <%= auto.modelo %></p>
        <p>Año: <%= auto.anio %></p>
        <p>Color <%= auto.color %></p>
        <p>Sucursal: <%= sucursal.nombre %></p>
        <% auto.imagen.forEach(image => { %>
            <img src="/images/<%- image %>" class="card-img-top" style="width: 24rem;" alt="...">
        <% }) %>
        
    </main>
    
    <%- include('../partials/scripts.ejs')  %> 
</body>
</html>