<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')  %>
    <script src="/javascript/formValidators/sucursalValidator.js"></script>
<body>
    <%- include('../partials/headerAdmin.ejs')  %> 
    <main class="container">
        <h3 class="text-center">Agregar sucursal</h3>
        <div class="container col-md-4">
            <form class="row g-3" id="form" action="/admin/sucursales/create" method="POST" enctype="multipart/form-data">
                <div class="col-12">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputName" name="nombre" value="<%= locals.old?.nombre ?? "" %>">
                    <small class="text-danger" id="errorNombre"><%= locals.errors?.nombre ? errors.nombre.msg : "" %></small>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="inputAddress" name="direccion" value="<%= locals.old?.direccion ?? "" %>">
                    <small class="text-danger" id="errorDireccion"><%= locals.errors?.direccion ? errors.direccion.msg : "" %></small>
                </div>
                <div class="col-12">
                    <label for="inputTel" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="inputTel" name="telefono" value="<%= locals.old?.telefono ?? "" %>">
                    <small class="text-danger" id="errorTelefono"><%= locals.errors?.telefono ? errors.telefono.msg : "" %></small>
                </div>
                <!-- Image preview -->
                <div id="imagePreview"></div>
                
                <div class="col-12">
                    <label for="inputFile" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="imagen" name="imagen"/>
                </div>
                <small class="text-danger" id="errorImagen"><%= locals.errors?.imagen ? errors.imagen.msg : "" %></small>
                <small class="text-danger" id="errorForm"></small>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">AGREGAR</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/scripts.ejs')  %> 
</body>
</html>